@font-face {
 font-family: "Fira Mono";
 font-weight: normal;
 font-style: normal;
 src: local('"Fira Mono"'), url('fonts/fira.ttf') format('truetype');
}
@font-face {
 font-family: "PT Sans";
 font-weight: normal;
 font-style: normal;
 src: local('"PT Sans"'), url('fonts/pt-sans-regular.ttf') format('truetype');
}

<script>
    MathJax.Hub.Config({
        "HTML-CSS": {
            /*preferredFont: "TeX",*/
            /*availableFonts: ["TeX", "STIX"],*/
            styles: {
                scale: 100,
                ".MathJax_Display": {
                    "font-size": "100%",
                }
            }
        }
    });
</script>
    